.team-title {
    padding: 3vh 0vh 1vh 0vh;
}

.team-explanation {
    padding: 0vh 2vh;
}

.accordion-button:not(.collapsed) {
    background-color: var(--lighter-carrot-orange);
    color: var(--black)
}

.avatar {
    max-width: 80px;
    padding: 0.1vh;
    margin: 0vh 1.5vh 0vh 0vh;
}

.acc-pic-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}