.team-title {
    padding: 3vh 0vh 1vh 0vh;
}

.team-explanation {
    padding: 0vh 2vh;
}

.accordion-button:not(.collapsed) {
    background-color: var(--gunmetal);
    color: var(--white)
}


/*
*************
T A B L E T
*************
*/

@media only screen and (min-width: 768px) {
   

}

/*
*************
D E S K T O P
*************
*/

@media only screen and (min-width: 1024px) {
    
    
}