.App {
  /* Color Palette Declaration */
  --light-gray: #dad2d8;
  --gunmetal: #143642;
  --eagle-green: #1e5062;
  --darker-turquoise: #119fa2; /* two steps down for button outline */
  --dark-turquoise: #16cdd0;
  --lighter-turquoise: #46e9ec; /* three steps up for button hover */
  --darker-carrot-orange: #d38312; /* two steps down for button outline */
  --carrot-orange: #ec9a29;
  --lighter-carrot-orange: #f1b25b; /* three steps up for button hover */
  --darker-carnelian: #841a15; /* two steps down for button outline */
  --carnelian: #a8201a;
  --white: #ffffff;
  --black: #000000;

  text-align: center;
  margin: 0 auto;
}

body {
  font-family: "Quicksand";
  font-weight: 500;
}

h1 {
  font-family: "Permanent Marker";
}

h2 {
  font-family: "Permanent Marker";
}

@media (min-width: 1px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

#page-container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
  background-color: var(--dark-turquoise);
  
}
