.App {
  /* Color Palette Declaration */
  --light-gray: #dad2d8ff;
  --gunmetal: #143642ff;
  --eagle-green: #1e5062;
  --dark-turquoise: #16cdd0ff;
  --carrot-orange: #ec9a29ff;
  --carnelian: #a8201aff;
  --white: #ffffff;
  --black: #000000;

  text-align: center;
  margin: 0 auto;
}

@media (min-width: 1px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

#page-container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}
